<% content_for(:title, "Edit #{@post.title} Comment") %>


<h3>Here's your <em>currently posted</em> comment!</h3>
<p>If it's not displaying as intended, you can edit it below.</p>

<p><%= @comment.name %> said: </p>
<%= markdown(@comment.content) %>

<hr>

<h3>Edit your comment:</h3>
<div class = 'alert alert-info'>
  <p><em>Oldschool</em> markdown is allowed.</p>
  <p>To include code inline (within a sentence or paragraph), use backticks.</p>
  <p>To include code blocks, use your enter button to add a line between text and code, followed by four spaces of indentation (yes, I said <em>oldschool)</em>!</p>
  <p><strong>example:</strong></p>
  <p>Here is a sentence with `$ some inline code` and such.</p>
  <p></p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;def thing<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stuff = "the stuff that thing does"</br>&nbsp;&nbsp;&nbsp;&nbsp;end</p>
</div>


<%= form_for [@post, @comment] do |f| %>
  <div class = "form-group">
    <%= f.label 'Your name (optional):' %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label 'Your comment:' %>

    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit 'Finish Editing', class: "btn btn-success" %>

  <% end %>
  </div>
