<h3>Here's your comment!</h3>
<p>If it's not displaying as intended, you can edit it below.</p>

<p><%= @comment.name %> said: </p>
<%= coderay(@comment.content).html_safe %>

<hr>

<h3>Edit your comment:</h3>
<div class = 'alert alert-info'>
<p><em>HTML is allowed.</em> To embed code (including HTML), use the following example PRECISELY (spacing and double quotes matter in the opening code tag).</p>
<p>YOUR LANGUAGE, as used below can have values of: ruby, javascript, or html</p>
<code>
   &lt;code lang="YOUR LANGUAGE"&gt;YOUR CODE HERE. Line breaks will be added automatically, use two spaces for tabbing.&lt;/code&gt;
</code>
</div>


<%= form_for [@post, @comment] do |f| %>
  <div class = "form-group">
    <%= f.label 'Your name (optional):' %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label 'Your comment:' %>

    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit 'Finish Editing', class: "btn btn-success" %>

  <% end %>
  </div>
