<% content_for(:title, "Edit #{@post.title} Comment") %>


<h3>Your comment:</h3>
<% if @comment.approved === true %>
  <p><em>Approved</em></p>
<% else %>
  <p><em>Pending approval</em></p>
<% end %>
<%= markdown(@comment.content) %>
<%= link_to "Love it. Back to Post", post_path(@post), class: "btn btn-primary" %>

<hr>

<h3>Edit your comment</h3>
<p>Markdown is allowed. <span class="link" id="comment-suggestions-button">Click here for instructions</span></p>
<%= form_for [@post, @comment] do |f| %>
  <div class = "form-group">
    <%= f.label 'Your name (optional):' %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label 'Your comment:' %>

    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit 'Finish Editing', class: "btn btn-success" %>
  <% end %>
</div>
