<% content_for(:title, "Edit #{@post.title} Comment") %>


<h3>Here's your <em>currently posted</em> comment!</h3>
<p>If it's not displaying as intended, you can edit it below.</p>

<p><%= @comment.name %> said: </p>
<%= markdown(@comment.content) %>

<hr>

<h3>Edit your comment:</h3>

<%= render 'shared/comment_suggestions' %>

<%= form_for [@post, @comment] do |f| %>
  <div class = "form-group">
    <%= f.label 'Your name (optional):' %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label 'Your comment:' %>

    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit 'Finish Editing', class: "btn btn-success" %>

  <% end %>
  </div>
