<% content_for(:title, "Edit #{@post.title}") %>

<div class = "jumbotron">
  <h1><%= @post.title %></h1>
  <h4><em><%= @post.description %></em></h4>

  <p><%= @post.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y')%></p>
  <p>By Aaron Rohrbacher</p>
  <p><em>Share:</em> <%= social_share_button_tag(@post.title, desc: @post.description) %> </p>
</div>

<%= markdown(@post.content) %>

<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", cols: 100, rows: 10 %>
    <%= f.submit 'Submit', class: "btn btn-success" %>
<% end %>
