<% content_for(:title, @post.title) %>
<hr>
<h1><%= @post.title %></h1>

<p><%= @post.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y')%></p>
<p>By Aaron Rohrbacher</p>
<p><em>Share:</em> <%= social_share_button_tag(@post.title) %> </p>
<hr>

<%= coderay(@post.content).html_safe %>
<hr>
<p><strong>Comments:</strong></p>
<% @comments.each do |comment| %>
  <p><em><strong><%= comment.name %></em></strong> said:</p>
  <p><%= coderay(comment.content).html_safe %></p>
  <hr>
<% end %>
<hr>

<p><strong>Add a comment:</strong></p>
<div class = 'alert alert-info'>
<p><em>HTML is required in comments (working on a solution to this!).</em> To embed code, use the following example PRECISELY (spacing and double quotes matter in the opening code tag).</p>
<p>YOUR LANGUAGE, as used below can have values of: ruby, javascript, or html</p>
<code>
   &lt;code lang="YOUR LANGUAGE"&gt;YOUR CODE HERE. Line breaks will be added automatically, use two spaces for tabbing.&lt;/code&gt;
</code>
</div>
<%= form_for [@post, @comment] do |f| %>
  <div class = "form-group">
    <%= f.label 'Your name (optional):' %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label 'Your comment:' %>

    <%= f.text_area :content, class: "form-control" %>
    <%= f.hidden_field :ip_address, value: request.remote_ip %>
    <%= f.submit 'Preview and edit', class: "btn btn-success" %>
  </div>
<% end %>
