<h1><%= @post.title %></h1>
<p>By Aaron Rohrbacher</p>
<p><%= @post.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y')%></p>
<hr>

<%= coderay(@post.content).html_safe %>

<p><strong>Comments:</strong></p>
<% @comments.each do |comment| %>
  <p><em><strong><%= comment.name %></em></strong> said:</p>
  <p><%= coderay(comment.content).html_safe %></p>
<% end %>

<p><strong>Add a comment:</p>
<%= form_for [@post, @comment] do |f| %>
  <div class = "form-group">
    <%= f.label 'Your name (optional):' %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label 'Your comment:' %>
    <p><em>HTML is allowed.</em> To embed code, use the following example PRECISELY (spacing and double quotes matter in the opening code tag): </p>
    <code>
       &lt;code lang="Language" (ruby, javascript, html)&gt;YOUR CODE HERE. Line breaks will be added automatically, use two spaces for tabbing.&lt;code&gt;
    </code>
    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit 'Add Comment', class: "btn btn-success" %>
  </div>
<% end %>
