<% content_for(:title, @post.title) %>
<div class = "jumbotron">
<h1><%= @post.title %></h1>
<h4><em><%= @post.description %></em></h4>

<p><%= @post.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y')%></p>
<p>By Aaron Rohrbacher</p>
<p><em>Share:</em> <%= social_share_button_tag(@post.title, desc: @post.description) %> </p>
</div>

<%= markdown(@post.content) %>
<hr>
<% if @comments.length > 0 %>
  <p><strong>Comments:</strong></p>
  <% @comments.each do |comment| %>
    <% if current_user %>
      <% if comment.approved === false %>
        <%= link_to 'approve', edit_post_comment_path(@post, comment, approve:true) %>
      <% end %>
      <%= link_to 'delete', post_comment_path(@post, comment), method: :delete %>
    <% end %>
    <p><em><strong><%= comment.name %></em></strong> said:</p>
    <hr>
    <%= markdown(comment.content) %>
    <hr>
  <% end %>
<% else %>
  <p><strong>No comments yet! Be the first!</strong></p>
<% end %>

<div class = "card cardFront">
<p><strong>Add a comment:</strong></p>
<%= form_for [@post, @comment] do |f| %>
  <div class = "form-group">
    <%= f.label 'Your name (optional):' %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label 'Your comment:' %>
    <%= f.text_area :content, class: "form-control" %>
    <%= f.hidden_field :ip_address, value: request.remote_ip %>
    <%= f.submit 'Publish (then edit)', class: "btn btn-primary" %>
  </div>
<%= render 'shared/comment_suggestions' %>
<% end %>
</div>

<% if current_user %>
  <p>Views: <%= @post.views.length %> </p>
  <hr>
  <% @post.views.each do |view| %>
    <p><%= view.ip_address %></p>
    <p><%= view.city %></p>
    <p><%= view.created_at.in_time_zone("Pacific Time (US & Canada)") %></p>
    <%= link_to 'delete', view_path(view), method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
<% end %>
