<% content_for(:title, @post.title) %>
<hr>
<h1><%= @post.title %></h1>
<h4><%= @post.description %></h4>

<p><%= @post.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y')%></p>
<p>By Aaron Rohrbacher</p>
<p><em>Share:</em> <%= social_share_button_tag(@post.title, desc: @post.description, :image => 'http://aaronrohrbacher.com/assets/aaron.jpg') %> </p>
<hr>

<%= markdown(@post.content) %>
<hr>
<p><strong>Comments:</strong></p>
<% @comments.each do |comment| %>
  <p><em><strong><%= comment.name %></em></strong> said:</p>
  <hr>
  <%= markdown(comment.content) %>
<% end %>
<hr>

<p><strong>Add a comment:</strong></p>
<%= form_for [@post, @comment] do |f| %>
  <div class = "form-group">
    <%= f.label 'Your name (optional):' %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label 'Your comment:' %>

    <%= f.text_area :content, class: "form-control" %>
    <%= f.hidden_field :ip_address, value: request.remote_ip %>
    <%= f.submit 'Preview and edit', class: "btn btn-success" %>
  </div>
<%= render 'shared/comment_suggestions' %>
<% end %>
