<h1><%= @post.title %></h1>
<p>By Aaron Rohrbacher</p>
<p><%= @post.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y')%></p>
<hr>

<%= coderay(@post.content).html_safe %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :content %>
  <%= f.submit 'Add Comment' %>
<% end %>

<% @comments.each do |comment| %>
  <p><%= comment.name %> said:</p>
  <p><%= comment.content %></p>
<% end %>
