<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>Aaron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      $(document).on('turbolinks:load', function () {
        var height = document.getElementById("header").offsetHeight;
        document.getElementById("content").style.marginTop = (height + 10) + 'px';
      });
      $(window).resize(function() {
        var height = document.getElementById("header").offsetHeight;
        document.getElementById("content").style.marginTop = (height + 10) + 'px';
      });
    </script>

  </head>

  <body>
    <div id = 'header'>
      <div class = 'headerContent'>
        <h1><strong>Aaron Rohrbacher</strong></h1>
        <h3>Web Developer</h3>
        <p>Portland, Oregon | (541) 848-2303 | aaron@aaronrohrbacher.com</p>


      </div>
      <nav class="navbar navbar-expand-md navbar-light bg-faded navigation">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to image_tag('linkedin.png', size: '24'), 'https://www.linkedin.com/in/aaronrohrbacher/', target: '_blank', class: 'navbar-brand' %>
            </li>
            <li class="nav-item">
              <%= link_to image_tag('github.png', size: '64x24'), 'https://github.com/aaronrohrbacher', target: '_blank', class: 'navbar-brand na' %>

            </li>
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>





          </ul>
        </div>
      </nav>
    </div>



    <div class = "container">
      <div id = 'content' >
        <% flash.each do |key, value| %>
         <div class='alert alert-info alert-dismissible fade show' role='alert'>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         <%= value %>
       </div>
     <% end %>

        <% if current_user %>
          <p><%= link_to 'New Post', new_post_path %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>

</html>
