<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>Aaron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      $(document).on('turbolinks:load', function () {
        var height = document.getElementById("header").offsetHeight;
        document.getElementById("content").style.marginTop = (height + 10) + 'px';
      });
      $(window).resize(function() {
        var height = document.getElementById("header").offsetHeight;
        document.getElementById("content").style.marginTop = (height + 10) + 'px';
      });
    </script>

  </head>

  <body>
    <div id = 'header'>
      <div class = 'headerContent'>
        <h1><strong>Aaron Rohrbacher</strong></h1>
        <h3>Web Developer</h3>
        <p>Portland, Oregon | (541) 848-2303 | aaron@aaronrohrbacher.com</p>
      </div>
    </div>
    <div class = "container">
      <div id = 'content' >
        <% flash.each do |key, value| %>
         <div class='alert alert-info alert-dismissible fade show' role='alert'>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         <%= value %>
       </div>
     <% end %>

        <% if current_user %>
          <p><%= link_to 'New Post', new_post_path %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>

</html>
